body {
  background-color: rgb(251, 85, 63);
  background-image: radial-gradient(
    circle,
    rgba(251, 85, 63, 1) 0%,
    rgba(252, 241, 70, 1) 100%
  );
  min-height: 100vh;
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}




